.testimonials {
  /* width: 100vw; */
  background-color: #f6f8f7;
  height: 100%;
  height: 94vh;
  padding: 4rem 10%;
  /* display: flex;
justify-content: space-between;
align-items: center; */
}

.testimonials .testimonial {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.testimonials .testimonial .testimonialImg {
  /* width: 15%; */
  /* width: 200px; */
}
.testimonials .testimonial .testimonialImg img {
  /* max-width: 100%; */
  height: 100%;
}

.testimonials .testimonial .testimonialBody {
  width: 40%;
}
