.guruz_header {
  background-color: #fff;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.guruz_header .headerContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10%;
}

.guruz_header .logo svg {
  width: 100px;
}

.guruz_header .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-weight: 400;
}

.guruz_header .links span {
  cursor: pointer;
}

.guruz_header .getStarted button {
  background-color: #f5a041;
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  color: #fff;
  border: none;
}
