.screen .horizontalTabs {
  width: 29%;
}

.screen5 .selected {
  color: #f5a041;
  border-color: #f5a041;
}
.screen5 .selected .svg {
  background-color: #f5a041;
}
.screen5 .selected svg path {
  fill: #fff;
}

.screen .screenBody {
  width: 71%;
}

.screen5 .screenBody .bodyData .title {
  font-size: 32px;
}
.screen5 .screenBody .bodyData .action {
  font-size: 14px;
}

.screen5 .screenBody .bodyData .action span {
  font-weight: bold;
}

@media (max-width: 426px) {
  .screen5 {
    padding: 2rem 1%;
    display: block;
    height: auto;
  }
  .screen5 .horizontalTabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .screen5 .horizontalTab {
    border-right: none;
    border-bottom: 3px solid #ededed;
  }
  .screen5 .selected {
    color: #f5a041;
    border-bottom: 3px solid #f5a041;
  }
  .screen5 .tabText {
    display: none;
  }
  .screen5 .screenBody {
    width: auto;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem;
  }
  .screen5 .screenBody .tabImage {
    width: 80%;
  }
  .screen5 .screenBody .bodyData {
    width: auto;
  }
  .screen5 .screenBody .bodyData .action {
    font-size: 11px;
  }
}
