.footer {
  background-color: #eff0f0;
  height: 100%;
  /* height: 70vh; */
  padding: 2rem 10% 1rem;
}

.footer .footerSection {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1rem;
}

.footer .footerSection .getInTouch {
  width: 25%;
}
.footer .footerSection .getInTouch .contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #7f7f7f;
  font-weight: 500;
}
.footer .footerSection .getInTouch .contact div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footerSection .getInTouch .contact div svg {
  width: 25px;
}
.footer .footerSection .getInTouch .socials {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.footer .footerSection .footerimg {
  width: 40%;
  margin-left: -4rem;
}

.footer .footerSection .footerimg img {
  max-width: 90%;
}

.footer .footerSection .quickLinks {
  width: 10%;
}

.footer .footerSection .quickLinks .links {
  color: #7f7f7f;
  font-weight: 500;
}

.footer .footerSection .quickLinks .links div {
  margin: 10px 0;
}

.footer .footerCopyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7f7f7f;
  margin-top: 1rem;
}

@media (max-width: 426px) {
  .footer {
    height: auto;
    padding: 2rem 2rem 1rem;
    font-size: 14px;
  }
  .footer .footerSection .footerimg {
    display: none;
  }
  .footer .footerSection .getInTouch {
    width: 50%;
    text-align: left;
  }
  .footer .footerSection .quickLinks {
    width: 50%;
    text-align: right;
  }
  .footer .footerSection .getInTouch .contact {
    gap: 10px;
    font-size: 13px;
  }
  .footer .footerSection .getInTouch .contact div {
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
  }
  .footer .footerSection .getInTouch .contact div svg {
    width: 35px;
  }
  .footer .footerSection .getInTouch .contact div:first-child svg {
    width: 15px;
  }
  .footer .footerSection .getInTouch .contact div:last-child svg {
    width: 14px;
  }
  .footer .footerCopyright {
    font-size: 13px;
    flex-direction: column;
    gap: 10px;
  }
}
