.screen {
  /* width: 100vw; */
  background-color: #fff;
  /* height: 100%; */
  height: 95vh;
  padding: 4rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen1 {
  background-color: #fff;
  padding: 4rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
}

.screen1 .horizontalTabs {
  width: 28%;
}

.screen1 .horizontalTab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.25rem 1rem;
  gap: 1rem;
  /* margin: 1rem 0; */
  border-right: 3px solid #ededed;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

.screen1 .horizontalTab .svg {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #727272;
}
.screen1 .selected {
  color: #4cabfd;
  border-color: #4cabfd;
}
.screen1 .selected .svg {
  background-color: #4cabfd;
}
.screen1 .selected svg {
  width: 20px;
}
.screen1 .selected svg path {
  fill: #fff;
}

.screen1 .screenBody {
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
}

.screen1 .screenBody .tabImage {
  width: 50%;
}

.screen1 .screenBody img {
  max-width: 100%;
}

.screen1 .screenBody .bodyData {
  width: 50%;
  padding-top: 4rem;
}
.screen1 .screenBody .bodyData .tag {
  font-size: 14px;
  color: #494949;
  font-weight: 600;
}
.screen1 .screenBody .bodyData .title {
  font-size: 36px;
  color: #464646;
  margin: 1rem 0;
  font-weight: 600;
}
.screen1 .screenBody .bodyData .saperate {
  width: 20%;
  background-color: #494949;
  height: 4px;
  border-radius: 5px;
  margin: 1rem 0;
}
.screen1 .screenBody .bodyData .descp {
  font-size: 15px;
  color: #727272;
}
.screen1 .screenBody .bodyData .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.screen1 .screenBody .bodyData .action {
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #2e2e2e;
}

.screen1 .screenBody .bodyData .action span {
  font-weight: bold;
}
