.screen2 {
  background-color: #f6f8f7;
  padding: 4rem 10%;
  padding-right: 0 !important;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
}

.screen2 .screenData {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 55%;
  /* padding: 4rem 0; */
  /* background-color: black; */
  height: 100%;

  /* background-color: ; */
}

.screen2 .screenData .tag {
  font-size: 14px;
  color: #494949;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.screen2 .screenData .title {
  font-size: 35px;
  color: #464646;
  margin-bottom: 3rem;
  font-weight: 600;
}

.screen2 .screenName {
  position: relative;
}
.screen2 .screenName svg {
  width: 100%;
}

.screen2 .screenName .screenNameTitle {
  position: absolute;
  top: 4rem;
  font-size: 28px;
  font-weight: 600;
  color: #464646;
}

.screen2 .screenName .screenNameTitle .devider {
  width: 60%;
  background-color: #f5a041;
  height: 4px;
  border-radius: 10px;
  margin: 5px 0;
}

.screen2 .categories {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  font-weight: 600;
  color: #494949;
  font-size: 14px;
}
.screen2 .category {
  border: 1px solid #707070;
  padding: 10px 20px;
  border-radius: 10px;
}

.screen2 .screenImg {
  width: 45%;
  height: 100vh;
  background-image: linear-gradient(to left, transparent 60%, #f6f8f7 100%),
    url('/public/assets/screen2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.screen2 .screenImg img {
  width: 100%;
}
